@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap");
@import "tailwindcss";
@tailwind utilities;
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
.logo {
  font-family: "Momo Trust Display", sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background: linear-gradient(45deg, #ff512f, #dd2476);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
a.active {
  color: #ff6b6b;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.my-btn {
  @apply btn  
  bg-linear-to-r from-[#ff512f] to-[#dd2476]
  text-white font-semibold border-none
  hover:scale-105 transition-transform duration-200;
}
.primary {
  background: linear-gradient(45deg, #ff512f, #dd2476);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.swiper-button-next,
.swiper-button-prev {
  transform: scale(0.8);
}
@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(0.5);
  }
}
