@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
.logo {
  font-family: "Momo Trust Display", sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background: linear-gradient(45deg, #ff512f, #dd2476);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.active {
  color: #ff6b6b;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}
